@model Pool.Models.TablesViewModel

@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("ReserveTable", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="jumbotron">
            <h2>Reserve table</h2>
        </div>

        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Tables, htmlAttributes: new { @class = "control-label col-md-2", style = "text-align: left;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedTableID, Model.Tables, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedDate, htmlAttributes: new { @class = "control-label col-md-2", style = "text-align: left;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(s => s.SelectedDate, "{0:dd.MM.yyyy hh:mm}", new { @class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reserve" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
